<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" id="m-contact" data-animated="0">
      <h3 class="text-center">Edit Your Profile</h3>
      <%= semantic_form_for @profile, method: :put, html: {class: 'contact-form', 'data-animated' => '0'} do |f| %>
          <div class="row">
            <%= f.inputs do %>
              <%= render 'profile_input', f: f %>
              <%= f.fields_for :user do |u| %>
                  <div class="mc">
                    <%= u.input :password %>
                  </div>
                  <div class="mc">
                    <%= u.input :password_confirmation, label: 'Confirm password' %>
                  </div>
                  <div class="mc">
                    <%= u.input :phone_number, input_html: { value: current_user.phone_number } %>
                  </div>
                  <div class="mc">
                    <%= u.input :account_type,
                                as: :select,
                                collection: User::ACCOUNT_TYPES,
                                include_blank: false,
                                selected: current_user.account_type,
                                input_html: {class: 'styled-select slate profile'} %>
                  </div>
              <% end %>
              <%= f.action :submit, label: 'Save Profile', button_html: {class: 'mc-main-action', data: {disable_with: 'Please wait...'}} %>
          <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
