<div class="mc-brief">
  <%= f.input :brief, input_html: { maxlength: 150 } %>
</div>
<div class="mc">
  <%= f.input :full_name %>
</div>
<div class="custom-file-upload">
  <%= f.input :profile_picture, as: :file, input_html: { type: 'file' } %>
</div>
<div class="mc">
  <%= f.input :course_of_study %>
</div>
<div class="mc">
  <%= f.input :profession %>
</div>
<div class="mc">
  <%= f.input :state_of_origin,
              as: :select,
              collection: Profile::NIGERIAN_STATES,
              include_blank: 'Select your state of origin',
              input_html: {class: 'styled-select slate profile'} %>
</div>
<div class="mc">
  <%= f.input :state_of_residence,
              as: :select,
              collection: Profile::NIGERIAN_STATES,
              include_blank: 'Select your state of residence',
              input_html: {class: 'styled-select slate profile'} %>
</div>
