<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 m-contact" data-animated="0">
      <h3 class="text-center">
        <% if @pastor.new_record? %>
            Add new Pastor
        <% else %>
            Edit Pastor
        <% end %>
      </h3>

      <%= semantic_form_for [@church, @pastor] do |c| %>
          <%= c.inputs do %>
              <div class="mc">
                <%= c.input :name %>
              </div>
              <div class="custom-file-upload">
                <%= c.input :avatar, as: :file, input_html: { type: 'file' } %>
              </div>

              <%= c.action :submit, label: 'Save Pastor', button_html: {class: 'mc-main-action', data: {disable_with: 'Please wait...'}} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
