<%= content_tag_for :tr, pastor do %>
    <% rating = pastor.rating %>

    <% heart = UserPastorHeart.get_specific(current_user, @church) %>
    <% likes = UserPastorHeart.likes(@church) %>
    <% likers = likes.collect(&:user_id).uniq %>
    <% user_likes = User.where('id in (?)', likers) %>
    <td>
      <%= pastor.name %>
      <br>
      <%= complex_like_message(user_likes, current_user, likes.count) %>
    </td>
    <td class="show-avatar">
      <%= avatar_tag(pastor, :headshot) %>
    </td>
    <td>
      <% if PastorTag.all.empty? || pastor.tag.nil? %>
          <em>None</em>
      <% else %>
          <% sorted_tags(pastor).each do |tag| %>
            <span class="show-tags">
              <%= tag %>
            </span>
          <% end %>
      <% end %>
    </td>
    <td>
      <%= rating %>
      <br>
      <em><%= rating_comment(rating) %></em>
    </td>
    <td>
      <%= show_complex_heart(current_user, heart, 'church', 'pastor', church, pastor) %>
    </td>
    <td><%= link_to 'Rate', church_pastor_rate_path(church, pastor) %></td>
    <td><%= link_to 'View Comments', '#', id: 'pastor_comments' %></td>
    <% if can? :manage, Pastor %>
        <td><%= link_to 'Edit', edit_church_pastor_path(church, pastor) %></td>
        <td><%= link_to 'Delete', [church, pastor], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
