<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 m-contact" data-animated="0">
      <h3 class="text-center">
        Rate <%= @pastor.name %>
      </h3>

      <%= form_for :pastor, url: church_pastor_rating_path do |f| %>
          <p class="radio-text">
            1. Is <%= @pastor.name %> approachable?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_1, 2, checked: true %>
            <label class="radio-labels">Yes</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_1, 1 %>
            <label class="radio-labels">No</label>
          </div>

          <br>

          <p class="radio-text">
            2. Does <%= @pastor.name %> solicit money?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_2, 2, checked: true %>
            <label class="radio-labels">Yes</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_2, 1 %>
            <label class="radio-labels">No</label>
          </div>

          <br>

          <p class="radio-text">
            3. How good is he as a pastor?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 5, checked: true %>
            <label class="radio-labels">Great</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 4 %>
            <label class="radio-labels">Okay</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 3 %>
            <label class="radio-labels">Just there</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 2 %>
            <label class="radio-labels">Bad</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 1 %>
            <label class="radio-labels">Awful</label>
          </div>

          <p class="radio-text">
            4. Extra Comment?
          </p>
          <%= f.text_area :extra_comment, cols: 30, rows: 10 %>

          <% if @tags.present? %>
              <p class="radio-text">
                5. Select tags that best describe this pastor
              </p>
              <% @tags.each do |tag| %>
                  <div style="display: inline-block">
                    <div class="tag-list">
                      <%= check_box_tag 'pastor[tag][]', tag.description.titleize, false, class: 'tag-item' %>
                      <%= label_tag tag.description.titleize %>
                    </div>
                  </div>
              <% end %>
          <% end %>
          <br><br>
          <%= f.submit 'Rate Pastor', class: 'mc-main-action mc-rate-action' %>
          <%= link_to 'Back', church_path(@church), class: 'mc-main-back pull-right' %>
      <% end %>
    </div>
  </div>
</div>
