<%= content_tag_for :tr, church do %>
    <td><%= link_to "#{church.name}", church_path(church) %></td>
    <td><%= church.aka %></td>
    <td><%= church.founder %></td>
    <td><%= link_to 'View Pastors', '#' %></td>
    <td><%= link_to 'Rate', '#' %></td>
    <% if can? :manage, Church %>
        <td><%= link_to 'Delete', church, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
