<%# hearts = @church.hearts.count %>
<% rating = @church.rating.to_f %>

<div class="m-pricing">
  <%= select_tag :name,
                 options_for_select(Church.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Churches',
                 onchange: "window.location.replace('/churches/'+this.value);" %>
  <% if can? :manage, Church %>
      <%= link_to 'Edit Church >>>', edit_church_path(@church), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @church.name %></h1>
  <div class="flexer">
    <div class="show-avatar">
      <%= avatar_tag(@church, :lil_big) %>
      <%# if current_user.heart?(@church) && hearts > 1 %>
        <!--<p>You and <%#= hearts - 1 %> others like this church<</p>-->
      <%# elsif current_user.heart?(@church) %>
        <!--<p>You like this church</p>-->
      <%# else %>
        <!--<p></p>-->
      <%# end %>

    </div>
    <div class="rate-stuff">
      <%= link_to 'Rate This Church', church_rating_path(@church), class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">
            <%= rating %> <span class='rate-comment'><%= rating_comment(rating) %></span>
          </p>
          <%#= div_for @church do %>
              <%#= render partial: 'hearts/button', locals: { church: @church } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'View Pastors', '#', class: 'view-pastors', remote: true %>
  <%= link_to 'View Rater Comments', '#', class: 'view-rater-comments pull-right', remote: true %>

  <%= render 'pastors' %>
  <%= render partial: 'comments', locals: { ratings: @ratings } %>
  <%= render partial: 'pastors/comments' %>
</div>
