<% rating = @church.rating.to_f %>

<% heart = UserChurchHeart.get_specific(current_user, @church) %>
<% likes = UserChurchHeart.likes(@church) %>
<% likers = likes.collect(&:user_id).uniq %>
<% user_likes = User.where('id in (?)', likers) %>

<div class="row m-pricing">
  <%= select_tag :name,
                 options_for_select(Church.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Churches',
                 onchange: "window.location.replace('/churches/'+this.value);" %>
  <% if can? :manage, Church %>
      <%= link_to 'Edit Church >>>', edit_church_path(@church), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @church.name %></h1>
  <div class="flexer">
    <div class="col-md-4 show-avatar">
      <%= avatar_tag(@church, :lil_big) %>
      <br>
      <%= basic_like_message(user_likes, current_user, likes.count, @church.class.name.downcase) %>
    </div>

    <div class="col-md-4 taggings">
      <h1 style="margin-top: -10px;">Tags</h1>
      <% if ChurchTag.all.empty? || @church.tag.nil? %>
          <em>No tags available</em>
      <% else %>
          <% sorted_tags(@church).each do |tag| %>
            <span class="show-tags">
              <%= tag %>
            </span>
          <% end %>
      <% end %>
    </div>

    <div class="rate-stuff col-md-4">
      <%= link_to 'Rate This Church', church_rate_path(@church), class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">
            <%= rating %> <span class='rate-comment'><%= rating_comment(rating) %></span>
          </p>

          <%= show_basic_heart(current_user, heart, 'church', @church) %>
        </div>
        <p class="extra-info">
          Visit <%= link_to @church.website, target: '_blank' do %>
              <%= @church.website %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <%= link_to 'View Pastors', '#', class: 'view-pastors', remote: true %>
  <%= link_to 'View Church Comments', '#', class: 'view-church-comments pull-right', remote: true %>

  <%= render 'pastors' %>
  <%= render partial: 'comments', locals: { ratings: @ratings } %>
  <%= render partial: 'pastors/comments' %>
</div>
