<%# hearts = @church.hearts.count %>
<div class="m-pricing">
  <%= select_tag :name,
                 options_for_select(Church.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Churches',
                 onchange: "window.location.replace('/churches/'+this.value);" %>
  <% if can? :manage, Church %>
      <%= link_to 'Edit Church >>>', edit_church_path(@church), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @church.name %></h1>
  <div class="flexer">
    <div class="show-avatar">
      <%= avatar_tag(@church, :lil_big) %>
      <%# if current_user.heart?(@church) && hearts > 1 %>
        <!--<p>You and <%#= hearts - 1 %> others like this church<</p>-->
      <%# elsif current_user.heart?(@church) %>
        <!--<p>You like this church</p>-->
      <%# else %>
        <!--<p></p>-->
      <%# end %>

    </div>
    <div>
      <%= link_to 'Rate This Church', '#', class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">#.##</p>
          <%#= div_for @church do %>
              <%#= render partial: 'hearts/button', locals: { church: @church } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'View Pastors', '#', class: 'view-pastors', remote: true %>

  <div class="pastors">
    <h2 class="text-center">PASTORS</h2>
    <% if can? :manage, Pastor %>
        <div class="pull-right">
          <%= link_to new_church_pastor_path(@church) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add New Pastor
          <% end %>
        </div>
    <% end %>

    <% if @pastors.empty? %>
        <i>There are no available pastors</i>
    <% else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Overall Rating</th>
            <th></th>
            <% if can? :manage, Pastor %>
              <th></th>
              <th></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
              <% @pastors.each do |pastor| %>
                <%= render partial: 'pastors/pastor', locals: {pastor: pastor, church: @church} %>
              <% end %>
          </tbody>
        </table>

        <%= link_to 'Hide Pastors', '#', class: 'hide-pastors', remote: true %>
    <% end %>
  </div>
</div>
