<div class="m-pricing">
  <h2 class="text-center">TAGS</h2>
  <div class="wrapped-share">
    <%= link_to 'Add Church Tag', tags_new_churches_path, class: 'tag-cta tag' %>
    <%= link_to 'Add Pastor Tag', pastors_tags_new_path, class: 'tag-cta tag' %>
    <%= link_to 'Add School Tag', tags_new_schools_path, class: 'tag-cta tag' %>
    <%= link_to 'Add Lecturer Tag', lecturers_tags_new_path, class: 'tag-cta tag' %>
    <%= link_to 'Add Brand Tag', tags_new_brands_path, class: 'tag-cta tag' %>
    <%= link_to 'Add Politician Tag', tags_new_politicians_path, class: 'tag-cta tag' %>
  </div>

  <%= select_tag :description,
      options_for_select(Tag::LIST, selected: params[:filter_by]),
      include_blank: 'Filter Tag Type',
      id: 'select_tag',
      onchange: "window.location.replace('/tags?filter_by='+this.value);" %>

  <% if @tags.nil? %>
      <i>There are no available tags</i>
  <% else %>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <% @tags.each do |tag| %>

                <% type = get_type(tag) %>
                    <tr>
                      <td><%= tag.description %></td>
                      <td><%= tag.type %></td>
                      <td><%= link_to 'Edit', send("edit_tag_#{type}_path", tag) %></td>
                      <td><%= link_to 'Delete', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= will_paginate @tags %>
  <% end %>
</div>
