<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 m-contact" data-animated="0">
      <h3 class="text-center">
        <% if @school.new_record? %>
            Add new School
        <% else %>
            Edit School
        <% end %>
      </h3>

      <%= semantic_form_for @school do |c| %>
          <%= c.inputs do %>
              <div class="mc">
                <%= c.input :name %>
              </div>
              <div class="mc">
                <%= c.input :aka %>
              </div>
              <div class="mc">
                <%= c.input :date_founded %>
              </div>
              <div class="mc">
                <%= c.input :location %>
              </div>
              <div class="mc">
                <%= c.input :ownership,
                            as: :select,
                            collection: School::OWNERSHIP,
                            include_blank: 'Select one',
                            input_html: {class: 'styled-select slate profile'} %>
              </div>
              <div class="mc">
                <%= c.input :category,
                            as: :select,
                            collection: School::CATEGORY,
                            include_blank: 'Select one',
                            input_html: {class: 'styled-select slate profile'} %>
              </div>
              <div class="mc">
                <%= c.input :head %>
              </div>
              <div class="mc">
                <%= c.input :website %>
              </div>
              <div class="custom-file-upload">
                <%= c.input :avatar, as: :file, input_html: { type: 'file' } %>
              </div>

              <%= c.action :submit, label: 'Save School', button_html: {class: 'mc-main-action', data: {disable_with: 'Please wait...'}} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
