<%= content_tag_for :tr, school do %>
    <td><%= link_to "#{school.name}", school_path(school) %></td>
    <td><%= school.ownership %></td>
    <td><%= school.category %></td>
    <%# if can? :manage, Lecturer %>
        <!--<td><%#= link_to 'Add Lecturers', new_school_lecturer_path(church) %></td>-->
    <%# end %>
    <td><%= link_to 'Rate', '#' %></td>
    <% if can? :manage, School %>
        <td><%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
