<% rating = @school.rating.to_f %>

<% heart = UserSchoolHeart.get_specific(current_user, @school) %>
<% likes = UserSchoolHeart.likes(@school) %>
<% likers = likes.collect(&:user_id).uniq %>
<% user_likes = User.where('id in (?)', likers) %>

<div class="row m-pricing">
  <%= select_tag :name,
                 options_for_select(School.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Schools',
                 onchange: "window.location.replace('/schools/'+this.value);" %>
  <% if can? :manage, School %>
      <%= link_to 'Edit School >>>', edit_school_path(@school), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @school.name %></h1>
  <div class="flexer">
    <div class="col-md-4 show-avatar">
      <%= avatar_tag(@school, :lil_big) %>
      <br>
      <%= basic_like_message(user_likes, current_user, likes.count, @school.class.name.downcase) %>
    </div>

    <div class="col-md-4 taggings">
      <h1 style="margin-top: -10px;">Tags</h1>
      <% if SchoolTag.all.empty? || @school.tag.nil? %>
          <em>No tags available</em>
      <% else %>
          <% sorted_tags(@school).each do |tag| %>
            <span class="show-tags">
              <%= tag %>
            </span>
          <% end %>
      <% end %>
    </div>

    <div class="rate-stuff col-md-4">
      <%= link_to 'Rate This School', school_rate_path(@school), class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">
            <%= rating %> <span class='rate-comment'><%= rating_comment(rating) %></span>
          </p>

          <%= show_basic_heart(current_user, heart, 'school', @school) %>
        </div>
        <% unless check_website(@school) %>
            <p class="extra-info">
              Visit <%= link_to @school.website, target: '_blank' do %>
                  <%= @school.website %>
              <% end %>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'View Lecturers', '#', class: 'view-lecturers', remote: true %>
  <%= link_to 'View School Comments', '#', class: 'view-school-comments pull-right', remote: true %>

  <%= render 'lecturers' %>
  <%= render partial: 'comments', locals: { ratings: @ratings } %>
  <%= render partial: 'lecturers/comments' %>
</div>
