<%# hearts = @church.hearts.count %>
<div class="m-pricing">
  <%= link_to '<<< All Schools', schools_path %>
  <% if can? :manage, School %>
      <%= link_to 'Edit School >>>', edit_school_path(@school), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @school.name %></h1>
  <div class="flexer">
    <div class="show-avatar">
      <%= avatar_tag(@school, :lil_big) %>
      <%# if current_user.heart?(@church) && hearts > 1 %>
      <!--<p>You and <%#= hearts - 1 %> others like this church<</p>-->
      <%# elsif current_user.heart?(@church) %>
      <!--<p>You like this church</p>-->
      <%# else %>
      <!--<p></p>-->
      <%# end %>

    </div>
    <div>
      <%= link_to 'Rate This School', '#', class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">#.##</p>
          <%#= div_for @school do %>
              <%#= render partial: 'hearts/button', locals: { school: @school } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'View Lecturers', '#', class: 'view-lecturers', remote: true %>

  <div class="lecturers">
    <h2 class="text-center">LECTURERS</h2>
    <% if can? :manage, Lecturer %>
        <div class="pull-right">
          <%= link_to new_school_lecturer_path(@school) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add New Lecturer
          <% end %>
        </div>
    <% end %>

    <% if @lecturers.empty? %>
        <i>There are no available lecturers</i>
    <% else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Image</th>
            <th>Overall Rating</th>
            <th></th>
            <% if can? :manage, Lecturer %>
                <th></th>
                <th></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @lecturers.each do |lecturer| %>
              <%= render partial: 'lecturers/lecturer', locals: {lecturer: lecturer, school: @school} %>
          <% end %>
          </tbody>
        </table>

        <%= link_to 'Hide Lecturers', '#', class: 'hide-lecturers', remote: true %>
    <% end %>
  </div>
</div>
