<div class="row brand-comments">
  <div class="col-xs-12">
    <% if ratings.present? %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Rating</th>
              <th>User</th>
              <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <% ratings.each do |rating| %>
                <tr>
                  <td>
                    <%= rating.rating %>
                    <br>
                    <em><%= rating_comment(rating.rating) %></em>
                  </td>
                  <td>
                    <% if rating.user.profile.account_type == 'Anonymous' || rating.user.profile.full_name == 'Anonymous' %>
                        Anonymous
                    <% else %>
                        <%= rating.user.email %>
                        <br>
                        <em><%= rating.user.profile.full_name %></em>
                    <% end %>
                  </td>
                  <td><%= rating.extra_comment.present? ? rating.extra_comment : 'No comment' %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% else %>
        <em>No comments</em>
    <% end %>
  </div>
  <%= link_to 'Hide Brand Comments', '#', class: 'hide-brand-comments', remote: true %>
</div>
