<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 m-contact" data-animated="0">
      <h3 class="text-center">
        <% if @brand.new_record? %>
            Add new Brand
        <% else %>
            Edit Brand
        <% end %>
      </h3>

      <%= semantic_form_for @brand do |c| %>
          <%= c.inputs do %>
              <div class="mc">
                <%= c.input :name %>
              </div>
              <div class="mc">
                <%= c.input :managed_by %>
              </div>
              <div class="mc">
                <%= c.input :industry,
                            as: :select,
                            collection: Brand::INDUSTRY,
                            include_blank: 'Select an industry',
                            input_html: {class: 'styled-select slate'} %>
              </div>
              <div class="custom-file-upload">
                <%= c.input :avatar, as: :file, input_html: { type: 'file' } %>
              </div>

              <%= c.action :submit, label: 'Save Brand', button_html: {class: 'mc-main-action', data: {disable_with: 'Please wait...'}} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
