<%# hearts = @church.hearts.count %>
<div class="m-pricing">
  <%= select_tag :name,
                 options_for_select(Brand.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Brands',
                 onchange: "window.location.replace('/brands/'+this.value);" %>
  <% if can? :manage, Brand %>
      <%= link_to 'Edit Brand >>>', edit_brand_path(@brand), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @brand.name %></h1>
  <div class="flexer">
    <div class="show-avatar">
      <%= avatar_tag(@brand, :lil_big) %>

      <div class="extra-info">
        <strong>Managed By:</strong> <%= @brand.managed_by %>
        <br>
        <strong>Industry:</strong> <%= @brand.industry %>
      </div>
      <%# if current_user.heart?(@church) && hearts > 1 %>
      <!--<p>You and <%#= hearts - 1 %> others like this church<</p>-->
      <%# elsif current_user.heart?(@church) %>
      <!--<p>You like this church</p>-->
      <%# else %>
      <!--<p></p>-->
      <%# end %>

    </div>
    <div class="rate-stuff">
      <%= link_to 'Rate This Brand', '#', class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">#.##</p>
          <%#= div_for @church do %>
          <%#= render partial: 'hearts/button', locals: { church: @church } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>

</div>
