<%= content_tag_for :tr, lecturer do %>
    <% rating = lecturer.rating %>

    <% heart = UserLecturerHeart.get_specific(current_user, lecturer) %>
    <% likes = UserLecturerHeart.likes(lecturer) %>
    <% likers = likes.collect(&:user_id).uniq %>
    <% user_likes = User.where('id in (?)', likers) %>
    <td>
      <%= lecturer.name %>
      <br>
      <%= complex_like_message(user_likes, current_user, likes.count) %>
    </td>
    <td><%= lecturer.course %></td>
    <td class="show-avatar">
      <%= avatar_tag(lecturer, :headshot) %>
    </td>
    <td>
      <% if LecturerTag.all.empty? || lecturer.tag.nil? %>
          <em>None</em>
      <% else %>
          <% sorted_tags(lecturer).each do |tag| %>
            <span class="show-tags">
              <%= tag %>
            </span>
          <% end %>
      <% end %>
    </td>
    <td>
      <%= rating %>
      <br>
      <em><%= rating_comment(rating) %></em>
    </td>
    <td>
      <%= show_complex_heart(current_user, heart, 'school', 'lecturer', school, lecturer) %>
    </td>
    <td><%= link_to 'Rate', school_lecturer_rate_path(school, lecturer) %></td>
    <td><%= link_to 'View Comments', '#', id: 'lecturer_comments' %></td>
    <% if can? :manage, Lecturer %>
        <td><%= link_to 'Edit', edit_school_lecturer_path(school, lecturer) %></td>
        <td><%= link_to 'Delete', [school, lecturer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
