<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 m-contact" data-animated="0">
      <h3 class="text-center">
        Rate <%= @lecturer.name %>
      </h3>

      <%= form_for :lecturer, url: school_lecturer_ratings_path do |f| %>
          <p class="radio-text">
            1. Is <%= @lecturer.name %> approachable?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_1, 2, checked: true %>
            <label class="radio-labels">Yes</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_1, 1 %>
            <label class="radio-labels">No</label>
          </div>

          <br>

          <p class="radio-text">
            2. Does <%= @lecturer.name %> solicit money?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_2, 2, checked: true %>
            <label class="radio-labels">Yes</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_2, 1 %>
            <label class="radio-labels">No</label>
          </div>

          <br>

          <p class="radio-text">
            3. How good is he as a lecturer?
          </p>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 5, checked: true %>
            <label class="radio-labels">Great</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 4 %>
            <label class="radio-labels">Okay</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 3 %>
            <label class="radio-labels">Just there</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 2 %>
            <label class="radio-labels">Bad</label>
          </div>
          <div class="radio-options">
            <%= f.radio_button :answer_3, 1 %>
            <label class="radio-labels">Awful</label>
          </div>

          <br>
          <%= f.submit 'Rate Lecturer', class: 'mc-main-action mc-rate-action' %>
          <%= link_to 'Back', school_path(@school), class: 'mc-main-back pull-right' %>
      <% end %>
    </div>
  </div>
</div>
