<div class="row politician-comments">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Rating</th>
          <th>User</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <% ratings.each do |rating| %>
            <tr>
              <td>
                <%= rating.rating %>
                <br>
                <em><%= rating_comment(rating.rating) %></em>
              </td>
              <td>
                <% if rating.user.profile.account_type == 'Anonymous' || rating.user.profile.full_name == 'Anonymous' %>
                    Anonymous
                <% else %>
                    <%= rating.user.email %>
                    <br>
                    <em><%= rating.user.profile.full_name %></em>
                <% end %>
              </td>
              <td><%= rating.extra_comment.present? ? rating.extra_comment : 'No comment' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Hide Politician Comments', '#', class: 'hide-politician-comments', remote: true %>
</div>
