<%# hearts = @church.hearts.count %>
<% rating = @politician.rating.to_f %>

<div class="m-pricing">
  <%= select_tag :name,
                 options_for_select(Politician.all.collect {|p| [ p.name, p.id ] }),
                 include_blank: 'All Politicians',
                 onchange: "window.location.replace('/politicians/'+this.value);" %>
  <% if can? :manage, Politician %>
      <%= link_to 'Edit Politician >>>', edit_politician_path(@politician), class: 'pull-right' %>
  <% end %>
  <h1 class="text-center"><%= @politician.name %></h1>
  <div class="flexer">
    <div class="show-avatar">
      <%= avatar_tag(@politician, :lil_big) %>
      <div class="extra-info">
        <strong>Current Office:</strong> <%= @politician.current_office %>
        <br>
        <strong>Date Assumed:</strong> <%= @politician.date_assumed %>
        <br>
        <strong>Present Party:</strong> <%= @politician.present_party %>
        <br>
        <strong>Former Position:</strong> <%= @politician.former_position %>
      </div>
      <%# if current_user.heart?(@church) && hearts > 1 %>
      <!--<p>You and <%#= hearts - 1 %> others like this church<</p>-->
      <%# elsif current_user.heart?(@church) %>
      <!--<p>You like this church</p>-->
      <%# else %>
      <!--<p></p>-->
      <%# end %>

    </div>
    <div class="rate-stuff">
      <%= link_to 'Rate This Politician', politician_rating_path(@politician), class: 'rate-action' %>
      <div class="rate-summary">
        <p class="rate-text">Overall Rating</p>
        <div class="share">
          <p class="rate-figure">
            <%= rating %> <span class='rate-comment'><%= rating_comment(rating) %></span>
          </p>
          <%#= div_for @church do %>
          <%#= render partial: 'hearts/button', locals: { church: @church } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>
