<header class='container'>
  <figure class='brand animated fadeInLeft pull-left'>
    <%= link_to home_index_path do %>
        <%= image_tag 'rater-white', width: 130 %>
    <% end %>
  </figure>
  <div class="nav pull-right">
    <nav>
      <ul class="section-menu animated fadeInRight">
        <li class="remove-active">
          <%= link_to root_path do %>
              <span>Home</span>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
              <span>Rate</span>
          <% end %>
        </li>
        <% unless show_devise('sessions', 'registrations', 'passwords') %>
            <li class="shift-cta">
              <%= link_to new_user_session_path do%>
                  <span>Log In</span>
              <% end %>
            </li>

            <li class="landing-cta">
              <%= link_to new_user_registration_path do%>
                  <span>Sign Up</span>
              <% end %>
            </li>

      <% end %>
      </ul>
    </nav>
    <div class="bt-nav">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
  </div>
</header>
