<header>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to home_index_path, class: 'navbar-brand icon-style' do %>
        <%= image_tag 'rater', class: 'img-responsive', alt: 'logo', width: 80 %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right menu-effect">
        <li class="<%= 'current' if controller_name == 'home' %>">
          <%# binding.pry %>
          <%= link_to 'Home', home_index_path, 'data-hover' => 'Home' %>
        </li>
        <li class="<%= 'current' if controller_name == 'profiles' %>">
          <%= link_to 'Profile', profile_path(current_user.profile), 'data-hover' => 'Profile' %>
        </li>
        <li class="<%= 'current' if controller_name == 'churches' %>">
          <%= link_to 'Churches', churches_path, 'data-hover' => 'Churches' %>
        </li>
        <li class="<%= 'current' if controller_name == 'schools' %>">
          <%= link_to 'Schools', schools_path, 'data-hover' => 'Schools' %>
        </li>
        <li class="<%= 'current' if controller_name == 'politicians' %>">
          <%= link_to 'Politicians', politicians_path, 'data-hover' => 'Politicians' %>
        </li>
        <li class="<%= 'current' if controller_name == 'brands' %>">
          <%= link_to 'Brands', brands_path, 'data-hover' => 'Brands' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
