<!DOCTYPE html>
<html>

<head>
  <title>Rater</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <%= stylesheet_link_tag @css_root, media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900', rel: 'stylesheet' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,300,300italic,400italic,500,700,900', rel: 'stylesheet' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,100,100italic,200,300,300italic,400italic,500,700,900', rel: 'stylesheet' %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'ie9', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %>
      <%= javascript_include_tag '//oss.maxcdn.com/respond/1.4.2/respond.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body id="page-top">

<div class="outer-wrap">
  <div class="container">
    <div class="col-md-3 m-left">
      <%= render 'layouts/header' %>
    </div>

    <div class="col-md-9 m-right">
      <%= render 'devise/shared/errors' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>

</body>
</html>
